<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My blog nodeJs</title>
</head>
<body>
    <h1>My first blog</h1>
    <h1></h1>
    <%for (var i = 0; i < posts.length; i++) {%>
    <div class="post">
        <h1><a href="/post/<%= (i + 1)%>"><%= posts[i].title %></a></h1>
        <p><%= posts[i].text %></p>
    </div>
<%}%>
</body>
</html>