<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New post</title>
</head>
<body>
    <h1></h1>
    <hr>
    <form action="/write" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="text">Content</label><br>
        <textarea name="text" id="text" cols="30" rows="10"></textarea><br>
        <button>Send</button>
    </form>
</body>
</html>