<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My blog nodeJs</title>
</head>
<body>
    <h1>My first blog</h1>
    <h1></h1>
    <div class="allPosts">
        <h2>Get all posts</h2>
        <button id="getAllPosts" type="buttook" onclick="getAllPosts()"></button>
    </div>
<script src="../scripst/main.js"></script>
</body>
</html>